.parent{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  height: 70vh;
  width: 60vw;
  margin-top: 7vh;
  
}
.container{
  border-style: solid;
  border-width: 1px;
  border-radius: 30px !important;
  border-color:rgb(191, 197, 197);
}

.child{
  width: 3em;
}

.center{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}

.right{
  padding-top: 2.5%;
  padding-left: 12.5%;
}

.close-button{
  height: 3em;
  width: 3em;
  padding-top: .75em;
  text-align: center;
  color: white;
  background-color: blueviolet;
  border-radius: 50%;
}
.close-button:hover{
  color: black;
}
.back-colored{
  height: 9em;
  width: 9em;
  text-align: center;
  padding-top: 3em;
  border-radius: 50%;
}
.exclamation{ 
  background-color: rgb(255, 238, 205);  
}

.check{
  background-color: rgb(213, 255, 205);
}

.times{
  background-color: rgb(255, 219, 219);
}

.titles{
  text-align: center;
}

.delete{
  color:white;
  background-color: blueviolet;
}
.cancel{
  color: blueviolet;
  border-style: solid;
  border-width: 2px;
  border-color: blueviolet;  
}
